.footer {
    padding-top: 30px; 
    padding-bottom: 30px;
        border-top: 1px solid var(--grey-color);
    & .container {
        display: flex;
        justify-content: space-between;
    }
}
.footer-list {
    display: flex;

}
.footer-rights {
    font-size: 16px;
        line-height: 140%;
        letter-spacing: 0.8px;
        text-transform: uppercase;
        color: var(--grey-color);
}
.footer-link {
    font-size: 24px;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 0.72px;
        color: var(--white-color);
        transition: .2s;
        &:hover {
            color: var(--red-color);
        }
}
.footer-item:not(:last-child) {
    margin-right: 40px;
}