.works-title {
    text-align: center;
    font-size: 52px;
        line-height: 140%;
        letter-spacing: 2.6px;
        text-transform: uppercase;
        margin-bottom: 40px;
}
.works svg {
    margin-left: 50%;
    transform: translate(-50%);
}
.works {
    padding-bottom: 120px;
    & .container {
            margin-bottom: 61px;
        }
} 
.gallery {
    width: 100vw;
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 240px 240px 240px 240px 240px 240px;
    & img {
        width: 240px;
        height: 220px;
        transition: .3s;
    }
    
}
.gallery-item {
    height: 210px;
    cursor: pointer;
    overflow: hidden;
    &:hover .gallery-img{
        transform: scale(1.2)
    }
}




