p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

@font-face {
  font-family: "Reforma Grotesk";
  src: local("Reforma Grotesk Medium"), local("Reforma-Grotesk-Medium"), url("./font/ReformaGroteskMedium.woff2") format("woff2"), url("./font/ReformaGroteskMedium.woff") format("woff"), url("./font/ReformaGroteskMedium.ttf") format("truetype");
  font-weight: 500, 400, 600, 700;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Reforma Grotesk", sans-serif;
  background-color: var(--default-color);
  scroll-behavior: smooth;
  letter-spacing: 0.72px;
  color: var(--white-color);
}

a {
  text-decoration: none;
}

img {
  display: block;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

/* will change*/
.content, .container, .achievements-right-side, .achievements-left-side, .cards-slider, .description-left-side, .description-right-side, .services, .preferences-left-side, .preferences-side-side, .works, .section-form {
  will-change: transform;
}

.container {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1296px) {
  .container {
    width: 1316px;
  }
}

:root {
  --default-color: #141414;
  --white-color: #FFFFFF;
  --red-color: #DB3138;
  --grey-color: #898989;
}

.header-hero {
  padding-top: 40px;
  background-image: url("../images/header-bg.jpg");
  background-position: center;
  height: 960px;
  background-size: cover;
  position: relative;
}

.header-link {
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  color: var(--white-color);
  transition: 0.2s;
}
.header-link:hover {
  color: var(--red-color);
}

.header-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 168px;
}

.header-list {
  display: flex;
}

.header-item:not(:last-child) {
  margin-right: 40px;
}

.hero-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 103px;
}

.hero-title {
  color: var(--red-color);
  font-size: 150px;
  font-weight: 700;
  line-height: 125%;
  text-transform: uppercase;
  font-style: normal;
  text-align: center;
}

.hero-text {
  font-size: 35px;
  font-weight: 500;
  line-height: 120%;
  max-width: 437px;
  text-align: center;
  margin-top: 41px;
  margin-bottom: 40px;
}

.hero-link {
  display: block;
  height: 61px;
  width: 169px;
  background-color: transparent;
  position: relative;
  overflow: hidden;
}
.hero-link p {
  color: var(--white-color);
  z-index: 100;
  position: absolute;
  text-transform: uppercase;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
}
.hero-link:hover div {
  left: 0;
}
.hero-link div {
  width: 189px;
  height: 61px;
  background-color: var(--red-color);
  position: absolute;
  top: 0;
  left: -199px;
  transition: 0.5s;
}

.hero-info {
  position: absolute;
  display: flex;
  max-width: 1920px;
  left: 50%;
  transform: translate(-50%);
}

.hero-info-item {
  border: 1px solid var(--grey-color);
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
}

.hero-info-title {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.9px;
  text-transform: uppercase;
}

.hero-info-text {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  width: 265px;
  color: var(--red-color);
}

.achievments {
  padding-top: 180px;
  padding-bottom: 180px;
}
.achievments .container {
  display: flex;
}

.achievements-left-side {
  width: 636px;
}

.achievements-title {
  font-size: 52px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 2.6px;
  text-transform: uppercase;
  margin-bottom: 40px;
  width: 636px;
}

.achievements-svg-blocks {
  margin-bottom: 60px;
}

.achievements-text {
  width: 526px;
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.72px;
}

.achievements-left-side {
  display: flex;
}

.achievements-item {
  border: 1px solid var(--grey-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 34px;
  padding-left: 20px;
  padding-right: 20px;
}

.achievements-item-text {
  text-align: center;
}

.achievements-list:last-child {
  margin-top: 30px;
}

.cards-slider {
  padding-bottom: 251px;
}
.cards-slider .container {
  position: relative;
}

.cards-slider__list {
  display: flex;
  justify-content: space-between;
}

.cards-slider__item {
  position: relative;
}
.cards-slider__item:hover .cards-slider__block {
  bottom: 0;
}
.cards-slider__item:hover .cards-slider__text {
  top: 0;
}

.cards-slider__item-unshowed {
  display: none;
}

.cards-slider__img {
  width: 416px;
  height: 350px;
}

.cards-slider__block {
  position: absolute;
  width: 366px;
  height: 70px;
  background-color: var(--red-color);
  left: 50%;
  bottom: -35px;
  transform: translate(-50%);
  transition: 0.2S;
}

.cards-slider__text {
  position: absolute;
  text-align: center;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  width: 286px;
  left: 50%;
  top: 40%;
  transform: translate(-50%);
  transition: 0.2S;
}

.cards-slider__btn {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%);
}

.cards-slider__btn-prev {
  left: -60px;
}

.cards-slider__btn-next {
  right: -120px;
}

.cards-slider__btn-disabled {
  opacity: 0.6;
}

.description {
  padding-bottom: 180px;
}
.description .container {
  display: flex;
}

.description-left-side {
  width: 526px;
  margin-right: 134px;
}

.description-title__wrap {
  display: flex;
  align-items: center;
}

.description-svg {
  margin-bottom: 40px;
}

.description-list__title {
  margin-left: 36px;
  font-size: 32px;
  line-height: 140%;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

.description-right-side {
  position: relative;
}

.description__text {
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.72px;
  margin-top: 30px;
}
.description__text:not(:last-child) {
  margin-bottom: 40px;
}

.description-slider .description-slider__item-unshown {
  display: none;
}

.description-slider__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description-slider__item img {
  width: 636px;
  height: 550px;
}

.description-slider__text {
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  text-align: center;
  width: 422px;
  margin-top: 50px;
  display: flex;
}

.description__btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 0;
}

.description__btn-next {
  right: 0;
}

.services {
  padding-bottom: 180px;
}

.services-title {
  text-align: center;
  font-size: 52px;
  line-height: 140%;
  letter-spacing: 2.6px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.service-svg {
  margin-left: 50%;
  transform: translate(-50%);
  margin-bottom: 60px;
}

.services-btn {
  cursor: pointer;
  background-color: transparent;
  width: 181px;
  height: 75px;
  border: none;
  color: var(--white-color);
  font-size: 32px;
  line-height: 140%;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  transition: 0.2s;
}
.services-btn:hover {
  background-color: var(--red-color);
}
.services-btn:first-child {
  margin-right: 60px;
}

.services-btn-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.services-btn__active {
  background-color: var(--red-color);
}

.services-list {
  display: flex;
  justify-content: space-between;
}

.services-item {
  border: 1px solid var(--grey-color);
  padding-bottom: 50px;
  padding-left: 39px;
  padding-right: 41px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-item__title {
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 20px;
}

.services-item__text {
  width: 226px;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
}

.services-item__link {
  display: block;
  height: 41px;
  width: 113px;
  background-color: transparent;
  position: relative;
  overflow: hidden;
}
.services-item__link p {
  color: var(--white-color);
  z-index: 100;
  position: absolute;
  text-transform: uppercase;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
}
.services-item__link:hover div {
  left: 0;
}
.services-item__link div {
  width: 133px;
  height: 41px;
  background-color: var(--red-color);
  position: absolute;
  top: 0;
  left: -199px;
  transition: 0.5s;
}

.services-list__unshowed {
  display: none;
}

.preferences {
  padding-bottom: 180px;
}
.preferences .container {
  display: flex;
}

.preferences-left-side {
  margin-right: 134px;
  position: relative;
}

.works-title {
  text-align: center;
  font-size: 52px;
  line-height: 140%;
  letter-spacing: 2.6px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.works svg {
  margin-left: 50%;
  transform: translate(-50%);
}

.works {
  padding-bottom: 120px;
}
.works .container {
  margin-bottom: 61px;
}

.gallery {
  width: 100vw;
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 240px 240px 240px 240px 240px 240px;
}
.gallery img {
  width: 240px;
  height: 220px;
  transition: 0.2s;
}

.gallery-item {
  height: 210px;
  cursor: pointer;
  overflow: hidden;
}
.gallery-item:hover .gallery-img {
  width: 260px;
  height: 230px;
}

.section-form {
  padding-bottom: 100px;
}
.section-form .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-title {
  font-size: 52px;
  line-height: 140%;
  letter-spacing: 2.6px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.section-form__svg {
  margin-bottom: 60px;
}

.form-input {
  background-color: transparent;
  border: 1px solid var(--grey-color);
  outline: 0;
  width: 306px;
  height: 47px;
  transition: 0.2s;
  color: var(--white-color);
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  padding-left: 25px;
}
.form-input:hover, .form-input:focus {
  border: 1px solid var(--red-color);
}
.form-input:hover::-moz-placeholder, .form-input:focus::-moz-placeholder {
  color: var(--white-color);
}
.form-input:hover::placeholder, .form-input:focus::placeholder {
  color: var(--white-color);
}
.form-input::-moz-placeholder {
  color: var(--grey-color);
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.form-input::placeholder {
  color: var(--grey-color);
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  transition: 0.2s;
}

.user-name {
  margin-right: 24px;
}

.form-top-wrap {
  margin-bottom: 24px;
}

.textarea {
  background-color: transparent;
  border: 1px solid var(--grey-color);
  outline: 0;
  width: 526px;
  height: 150px;
  transition: 0.2s;
  color: var(--white-color);
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  padding-left: 25px;
  padding-top: 15px;
  resize: none;
  margin-right: 70px;
}
.textarea:hover, .textarea:focus {
  border: 1px solid var(--red-color);
}
.textarea:hover::-moz-placeholder, .textarea:focus::-moz-placeholder {
  color: var(--white-color);
}
.textarea:hover::placeholder, .textarea:focus::placeholder {
  color: var(--white-color);
}
.textarea::-moz-placeholder {
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.textarea::placeholder {
  transition: 0.2s;
}

.form-middle-wrap {
  display: flex;
  margin-bottom: 24px;
}

.form-item {
  cursor: pointer;
  border: 1px solid var(--grey-color);
  padding: 10px;
  width: 40px;
  height: 40px;
  transition: 0.2s;
}
.form-item svg {
  fill: var(--white-color);
  transition: 0.2s;
}
.form-item:not(:last-child) {
  margin-bottom: 15px;
}
.form-item:hover {
  border: 1px solid var(--red-color);
}

.form-item:hover svg {
  fill: var(--red-color);
}

.btn-form-submit {
  display: block;
  height: 61px;
  width: 144px;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  border: none;
  cursor: pointer;
  margin-right: 195px;
}
.btn-form-submit p {
  color: var(--white-color);
  z-index: 1;
  position: absolute;
  text-transform: uppercase;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}
.btn-form-submit:hover div {
  left: 0;
}
.btn-form-submit div {
  width: 189px;
  height: 61px;
  background-color: var(--red-color);
  position: absolute;
  top: 0;
  left: -199px;
  transition: 0.5s;
}

.form-bottom-wrap {
  display: flex;
}

.contacts-list {
  width: 297px;
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
}

.contact-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
.contact-item:hover .contact-link {
  color: var(--red-color);
}
.contact-item:hover svg {
  fill: var(--red-color);
}
.contact-item svg {
  margin-right: 10px;
  fill: var(--white-color);
  transition: 0.2s;
}
.contact-item:nth-child(2) {
  margin-right: 30px;
}

.contact-link {
  color: var(--white-color);
  transition: 0.2s;
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid var(--grey-color);
}
.footer .container {
  display: flex;
  justify-content: space-between;
}

.footer-list {
  display: flex;
}

.footer-rights {
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: var(--grey-color);
}

.footer-link {
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.72px;
  color: var(--white-color);
  transition: 0.2s;
}
.footer-link:hover {
  color: var(--red-color);
}

.footer-item:not(:last-child) {
  margin-right: 40px;
}/*# sourceMappingURL=style.css.map */